* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: plain;
  color: white;
}
html, body {
  width: 100%;
  height: 100%;
}

#loader{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 25vh 10vw;
}

.line{
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}

#line1-part1 h5, #line1-part1 h6{
  font-size: 3vw;
  font-weight: 100;
  font-family: 'silk serif';
}
#line1-part1 h5{
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}

.line h1{
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 500;
}

.line h2{
  font-size: 4.6vw;
  font-weight: 500;
  text-transform: uppercase;
  /* animation-name: anime; */
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Now Animation */
@keyframes anime{
  0%{
    font-family: "plain";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 100;
    opacity: 1;
  }
  48%{
    font-family: "plain";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 100;
    opacity: 0;
  }

  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 100;
    opacity: 1;
  }
  100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 100;
    opacity: 0;
  }
}





#main{
  position: relative;
  background-color: #030303;
}

#page1{
  height: 100vh;
  width: 100%;
  background-color: #151515;
}